// Generated using xcconfig-extractor 0.6.1 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
SDKROOT = macosx
PRODUCT_BUNDLE_IDENTIFIER = com.akira.matsuda.Tests-macOS
TEST_TARGET_NAME = SpiceMethod (macOS)
INFOPLIST_FILE = Tests macOS/Info.plist
PRODUCT_NAME = $(TARGET_NAME)
MACOSX_DEPLOYMENT_TARGET = 11.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
COMBINE_HIDPI_IMAGES = YES
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

